<!DOCTYPE html>
<html lang="en">

<!-- /* References https://github.com/mikhail-cct/CA1-In-class-Demo -- Code that i used as base for my CA. i used the example 
and changed his code for what i needed.
https://www.w3schools.com/ - Most used to get CSS 
My Own codes from previus assigments
-->

<head>
	<img class="Logo" src="images/Logo.jpg" width="1350" height="350>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Easy Tikets</title>
<script src="scripts.js"></script>
	<link href="css/TicketApp.css" rel="stylesheet">
</head>


<body background="images/Background.jpg">

	<div class="Menu" align="center">
		<ul>
			<li><a href="./index.html">Home</a></li>
			<li><a href="">Login</a></li>
			<li><a href="#">Register</a></li>
			<li><a href="#">Concerts</a></li>
			<li><a href="#">Contact Us </a></li>
		</ul>
	</div>

	<h2 class="mt-5" align="center">Welcome to EasyTickets</h2>

	<table id='tableOfTickets'>
		<thead>
			<tr>
				<th colspan="5">Concerts</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Concert</th>
				<th>Type</th>
				<th>Tickets Avaliable</th>
				<th>Price €</th>
			</tr>
		</thead>
		<tbody id='tbody'>
		</tbody>
	</table>
     <h2 class="mt-5" align="center">To Update and Delete Please type the ID</h2>
	<form id='form' action="Update">
		<th><input class="form-control" type="text" id="id" placeholder="id"/></th>
		<th><input class="form-control" type="text" id="name" placeholder="name"/></th>
		<th><input class="form-control" type="text" id="type" placeholder="Types"/></th>
		<th><input class="form-control" type="text" id="avaliables" placeholder="TicketsAvaliable"/></th>
		<th><input class="form-control" type='number' id="price" placeholder="Price"/></th>
           <p id="p"> <input type="button" id="btn" value="Submit" onclick="POST()">
			<input type="button" id="btn" value="Update" onclick="UPDATE()">
			<input type="button" id="btn" value="Delete" onclick="DELETE()"></p>
</form>
		
			<ul>
				<img src = "images/Kiss-2020_v1_Interna.jpg" width="300" height="250">
				<img src = "images/220px-Harry_Styles_Live_On_Tour.jpg" width="300" height="250">
				<img src = "images/Pôster_de_Reputation_Stadium_Tour.png" width="300" height="250">

</ul>

				<div class="Social" align="center">

					<ul><a href="https://www.facebook.com">
							<img src="images/Facebook.jpg" width="30" height="30">
  </a><a href="https://www.instagram.com/?hl=pt">
								<img src="images/Instagram.jpg" width="30" height="30">
  </a><a href="https://twitter.com/?lang=pt">
									<img src="images/Twitter.jpg" width="30" height="30">
    </a>
					</ul>
				</div>


				<footer class="footer">
					<div class="container">
						<span class="text-muted">&copy; Rodolfo Souza 2020</span>
					</div>

				</footer>

</body>

</html>