<!DOCTYPE html>
<html lang="en">

<!-- /* References https://github.com/mikhail-cct/CA1-In-class-Demo -- Code that i used as base for my CA. i used the example 
and changed his code for what i needed.
https://www.w3schools.com/ - Most used to get CSS 
My Own codes from previus assigments
-->

<head>
	<img class="Logo" src="images/Logo.jpg" width="1350" height="350>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Easy Tikets</title>

	<link href="css/TicketApp.css" rel="stylesheet">
</head>


<body background="images/Background.jpg">

	<div class="Menu" align="center">
		<ul>
			<li><a href="./index.html">Home</a></li>
			<li><a href="">Login</a></li>
			<li><a href="#">Register</a></li>
			<li><a href="#">Concerts</a></li>
			<li><a href="#">Contact Us </a></li>
		</ul>
	</div>

	<h2 class="mt-5" align="center">Welcome to EasyTickets</h2>

	<table id='table'>
		<thead>
			<tr>
				<th colspan="5">Concerts</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Concert</th>
				<th>Type</th>
				<th>Tickets Avaliable</th>
				<th>Price €</th>
			</tr>
		</thead>
		<tbody id='tbody'>
		</tbody>
	</table>
	<form id='form' action="Update">
		<th><input class="form-control" type="text" id="id" placeholder="id"/></th>
		<th><input class="form-control" type="text" id="name" placeholder="name"/></th>
		<th><input class="form-control" type="text" id="type" placeholder="Types"/></th>
		<th><input class="form-control" type="text" id="avaliables" placeholder="TicketsAvaliable"/></th>
		<th><input class="form-control" type='number' id="price" placeholder="Price"/></th>
           <p> <input type="button" value="Submit" onclick="POST()">
			<input type="button" value="Update" onclick="UPDATE()">
			<input type="button" value="Delete" onclick="DELETE()"></p>
</form>
		
			<ul>
				<img src = "images/Kiss-2020_v1_Interna.jpg" width="300" height="250">
				<img src = "images/220px-Harry_Styles_Live_On_Tour.jpg" width="300" height="250">
				<img src = "images/Pôster_de_Reputation_Stadium_Tour.png" width="300" height="250">

</ul>

				<div class="Social" align="center">

					<ul><a href="https://www.facebook.com">
							<img src="images/Facebook.jpg" width="30" height="30">
  </a><a href="https://www.instagram.com/?hl=pt">
								<img src="images/Instagram.jpg" width="30" height="30">
  </a><a href="https://twitter.com/?lang=pt">
									<img src="images/Twitter.jpg" width="30" height="30">
    </a>
					</ul>
				</div>


				<footer class="footer">
					<div class="container">
						<span class="text-muted">&copy; Rodolfo Souza 2020</span>
					</div>

				</footer>

				<script>
					let ticketslist = [];
 const getAll = () => {
    console.log("caling get all")
    fetch('https://3000-b3a1ddd3-2e27-49b1-ae0c-3f2c64391be4.ws-us02.gitpod.io/tickets')
    .then(res => res.json())
    .then(res => { 
        ticketlist = res;
        console.log(ticketlist);
    showTickets();
    });
 }
    const showTickets = () => {  
    let tableRef = document.getElementById('table').getElementsByTagName('tbody')[0];
    
   for (var i = 0; i < ticketlist.length; i++){
    var newRow = tableRef.insertRow(tableRef.rows.length);
    var newCell_0  = newRow.insertCell(0);
    var newCell_1  = newRow.insertCell(1);
    var newCell_2  = newRow.insertCell(2);
    var newCell_3  = newRow.insertCell(3);
    var newCell_4  = newRow.insertCell(4);
    var newText_0  = document.createTextNode(ticketlist[i]._id)
    newCell_0.appendChild(newText_0);
    var newText_1  = document.createTextNode(`${ticketlist[i].name}`)
    newCell_1.appendChild(newText_1);
    var newText_2  = document.createTextNode(ticketlist[i].type)
    newCell_2.appendChild(newText_2);
    var newText_3  = document.createTextNode(ticketlist[i].avaliables)
    newCell_3.appendChild(newText_3);
    var newText_4  = document.createTextNode(ticketlist[i].price)
    newCell_4.appendChild(newText_4);
     }
}

getAll();
				</script>

				<script>
					function POST() {
    const data = {
        name: document.getElementById("name").value,
        type: document.getElementById("type").value,
        avaliables: document.getElementById("avaliables").value,
        price: document.getElementById("price").value
    };
 
  const options = { 
      method: 'POST', 
      headers: { 
          'Content-Type': 'application/json'
    }, 
    body: JSON.stringify(data)
    };
  fetch('https://3000-b3a1ddd3-2e27-49b1-ae0c-3f2c64391be4.ws-us02.gitpod.io/tickets', options)
   .then(res => res.json())
    .then(res => { 
        ticketlist = res;
       location.reload(true);
    });
                    }
				</script>
				<script>
					function UPDATE() {
    console.log("here");
    const data = {
        _id:  document.getElementById("id").value,  
        name: document.getElementById("name").value,
        type: document.getElementById("type").value,
        avaliables: document.getElementById("avaliables").value,
        price: document.getElementById("price").value
    };
    console.log(data);
  const options = { 
      method: 'PUT', 
      headers: { 
          'Content-Type': 'application/json'
    }, 
    body: JSON.stringify(data)
    };
    var id = data._id;
  fetch('https://3000-b3a1ddd3-2e27-49b1-ae0c-3f2c64391be4.ws-us02.gitpod.io/tickets/' + id, options)
   .then(res => res.json())
    .then(res => { 
        ticketlist = res;
       location.reload(true);
        alert("Your table was update sucessfully");
    });
}

				</script>

				<script>
					function DELETE() {
    console.log("here");
    const data = {
        _id:  document.getElementById("id").value,  
    };
    console.log(data);
  const options = { 
      method: 'DELETE', 
      headers: { 
          'Content-Type': 'application/json'
    }, 
    body: JSON.stringify(data)
    };
    var id = data._id;
  fetch('https://3000-b3a1ddd3-2e27-49b1-ae0c-3f2c64391be4.ws-us02.gitpod.io/tickets/' + id, options)
   .then(res => res.json())
    .then(res => { 
        ticketlist = res;
       location.reload(true);
    });
}

				</script>


</body>

</html>